.banner {
  width: 100%;
  height: 450px;
  background-image:
  linear-gradient(to right, rgba(0, 0, 0, 0.977), rgba(0,0,0,0)),
  url("./../../public/movie-banner/mastiii-4-et00464040-1764352224.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display:flex
}

.card-img{
    position: absolute;
    width: 217px;
    height: 337px;
    border-radius: 9px;
    margin-top: 38px;
    margin-left: 204px;
}

.banner-content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.movie-poster {
  width: 200px;
  border-radius: 10px;
  position: absolute;
  margin-top: 38px;
  margin-left: 204px;
}

.movie-info h1 {
  font-size: 2rem;
  margin-bottom: 5px;
  position: relative;
  margin-top: -150px;
  margin-left: 420px;
  color: azure

}
.rate-div{
    padding: 4px;
    border: 1px solid;
    border-radius: 10px;
    position: absolute;
    margin-top: 2px;
    margin-left: 424px;
    color: azure;
    background-color: rgba(0, 0, 0, 0.632);
}
.rate-div button{
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}
.rate-content{
    position: absolute;
    margin-top: 66px;
    margin-left: 424px;
    color: azure;
}
.aaa{
    position: absolute;
    margin-top: 105px;
    margin-left: 424px;
    color: azure;
}
.aaa span{
    background-color:rgba(128, 128, 128, 0.789);
    padding: 4px;
    margin: 5px;
    border-radius: 6px;
}
.book-ticket-div{
    position: absolute;
    margin-top: 180px;
    margin-left: 424px;
    color: azure;
}
.book-ticket-div .book-ticket{
    
    padding: 10px;
    width: 300px;
    background-color: rgb(220, 53, 75);
    border-radius: 10px;
    border: 0px ;
    font-size: larger;
    font-weight: bold;
    color: currentColor;
}

.about-container{
    padding: 5px;
    margin: 43px;
}
.about-container h2{
    padding: 18px;
}