.header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: Arial;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #e72c30;
  margin-left: 20px;
}

.search-box {
  flex: 1;
  margin: 0 20px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.location {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}

.signin {
  padding: 6px 12px;
  background: #e72c30;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}



.menu-row {
  display: flex;
  justify-content: space-between; /* left on left, right on right */
  align-items: center;
  margin-top: 8px;
  padding: 20px;
  background-color:#e6e6ed;
  width: 100%;
}

.menu-left, .menu-right {
  display: flex;
  gap: 20px;
}

.menu-row a {
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.menu-row a:hover {
  color: #e72c30;
}
